
.btn-primary {
background-color: #6ad58c;
color: white;
font-weight: bold;
border-radius: 50px;
padding: 16px 24px;
display: inline-block;
}

.btn-primary:hover {
transition: .3s;
background-color: #3ac162;
}


